:root {
  --bacground-color: #fcf5eb;
  --primary-color: #8b72be;
  --secondary-color: #d5c3fd;
  --accent-dark: #6b665c;
  --accent-light: #e4d7c1;
  --text-color: #333;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bacground-color);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-container {
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.register-container h3 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--accent-dark);
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-form label {
  font-weight: bold;
  color: var(--text-color);
}

.register-form input {
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid var(--accent-dark);
  outline: none;
}

.register-form button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
a {
  list-style: none;
}
a button.back {
  background-color: #5b2cbb;
  margin-top: 10;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.register-form button:hover,
a button.back {
  background-color: var(--secondary-color);
}
