body {
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #addad8;
  height: 100vh;
  /* overflow: hidden; */
  box-sizing: border-box;
}
p.response {
  text-align: center;
  color: #ff0000;
  border: 1px solid #883;
}
.card-login {
  margin: 10rem 0;
  width: 40rem;
  border: 1px solid;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px #3e2723;
}
.card-login form {
  display: block;
  margin: 0 auto;
}
.card-login h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
}
.card-login form input[type="text"],
.card-login form input[type="password"],
.card-login form input[type="number"] {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.card-login button {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #ff0000; /* Red */
  color: #ffffff; /* White */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
