<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/css/auth/login.css" />
  </head>
  <body>
    <p class="response"></p>
    <section class="card-login-top">
      <img src="/img/whatsapp.png" alt="" />
      <div class="description">
        <h2>Dowload Whastsaap from <%- "winsowa" %></h2>
        <p>make call ..</p>
      </div>
      <div class="dowload">
        <a href="https://web.whatsapp.com/"><p>Go Download</p></a>
      </div>
    </section>

    <section class="card-login-botton">
      <div class="login">
        <h4>Enter Your Number</h4>
        <form id="login-form" method="POST" action="/user/login">
          <input
            type="number"
            name="phone"
            id="phone"
            placeholder="Phone Number"
            required
          />
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Your Name ka kanda"
            required
          />
          <button type="submit">Login</button>
        </form>
      </div>

      <div class="register">
        <h4>Don't have an account?</h4>
        <button type="button">
          <a href="/user/register"><p>Register</p></a>
        </button>
      </div>
    </section>

    <script src="../js/login.js"></script>
  </body>
</html>
