<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/auth/register.css" />
  </head>
  <body>
    <section class="register-container">
      <h3>Create a New Account</h3>
      <form action="/user/register" method="post" class="register-form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />

        <label for="phone">Phone</label>
        <input type="number" name="phone" id="phone" required />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />

        <button type="submit">Register</button>
      </form>
      <a href="/user/login"><button class="back" type="button">Back</button></a>
    </section>

    <script src="/js/register.js"></script>
  </body>
</html>
